[url "https://"]
	insteadOf = git://
[url "https://github.com/"]
	insteadOf = git@github.com:
[credential]
	helper = 
[user]
	name = Syprozzz
	email = bhandarishreeyansh@gmail.com
[init]
	defaultBranch = main
